<a href="https://colab.research.google.com/github/abidshafee/Covid-19-Dashboard/blob/main/Covid_19_Dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\python38\lib\site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in c:\python38\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\python38\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\python38\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in c:\python38\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [6]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [4]:
confirmed_case = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
death_case = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
recovered = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

confirmed_df = pd.read_csv(confirmed_case)
death = pd.read_csv(death_case) #error_bad_lines=False
recovered = pd.read_csv(recovered)

NameError: name 'pd' is not defined

In [3]:
confirmed_df.head()

  Province/State Country/Region       Lat  ...  1/12/22  1/13/22  1/14/22
0            NaN    Afghanistan  33.93911  ...   158511   158602   158639
1            NaN        Albania  41.15330  ...   224569   226598   228777
2            NaN        Algeria  28.03390  ...   223806   224383   224979
3            NaN        Andorra  42.50630  ...    28899    28899    29888
4            NaN         Angola -11.20270  ...    91907    92581    93302

[5 rows x 728 columns]

In [1]:
date = confirmed_df.columns[4:]
date

NameError: name 'confirmed_df' is not defined

In [4]:
death.head()

  Province/State Country/Region       Lat  ...  1/12/22  1/13/22  1/14/22
0            NaN    Afghanistan  33.93911  ...     7376     7376     7376
1            NaN        Albania  41.15330  ...     3253     3255     3262
2            NaN        Algeria  28.03390  ...     6372     6383     6393
3            NaN        Andorra  42.50630  ...      141      141      142
4            NaN         Angola -11.20270  ...     1842     1847     1852

[5 rows x 728 columns]

In [5]:
recovered.head()

  Province/State Country/Region       Lat  ...  1/12/22  1/13/22  1/14/22
0            NaN    Afghanistan  33.93911  ...        0        0        0
1            NaN        Albania  41.15330  ...        0        0        0
2            NaN        Algeria  28.03390  ...        0        0        0
3            NaN        Andorra  42.50630  ...        0        0        0
4            NaN         Angola -11.20270  ...        0        0        0

[5 rows x 728 columns]