<a href="https://colab.research.google.com/github/abidshafee/Covid-19-Dashboard/blob/main/Covid_19_Dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\python38\lib\site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in c:\python38\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\python38\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\python38\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in c:\python38\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [1]:
import pandas as pd

In [2]:
confirmed_case = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
death_case = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
recovered = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

confirmed_df = pd.read_csv(confirmed_case)
death = pd.read_csv(death_case) #error_bad_lines=False
recovered = pd.read_csv(recovered)

In [3]:
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/5/22,1/6/22,1/7/22,1/8/22,1/9/22,1/10/22,1/11/22,1/12/22,1/13/22,1/14/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,158245,158275,158300,158309,158381,158394,158471,158511,158602,158639
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,212021,213257,214905,214905,219694,220487,222664,224569,226598,228777
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,220415,220825,221316,221742,222157,222639,223196,223806,224383,224979
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,25289,25289,26408,26408,26408,27983,28542,28899,28899,29888
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,86636,87625,88775,89251,89718,90316,91148,91907,92581,93302

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '1/5/22', '1/6/22', '1/7/22', '1/8/22', '1/9/22', '1/10/22', '1/11/22',
       '1/12/22', '1/13/22', '1/14/22'],
      dtype='object', length=724)

In [4]:
death.head()

  Province/State Country/Region       Lat  ...  1/12/22  1/13/22  1/14/22
0            NaN    Afghanistan  33.93911  ...     7376     7376     7376
1            NaN        Albania  41.15330  ...     3253     3255     3262
2            NaN        Algeria  28.03390  ...     6372     6383     6393
3            NaN        Andorra  42.50630  ...      141      141      142
4            NaN         Angola -11.20270  ...     1842     1847     1852

[5 rows x 728 columns]

In [5]:
recovered.head()

  Province/State Country/Region       Lat  ...  1/12/22  1/13/22  1/14/22
0            NaN    Afghanistan  33.93911  ...        0        0        0
1            NaN        Albania  41.15330  ...        0        0        0
2            NaN        Algeria  28.03390  ...        0        0        0
3            NaN        Andorra  42.50630  ...        0        0        0
4            NaN         Angola -11.20270  ...        0        0        0

[5 rows x 728 columns]

In [5]:
date1 = confirmed_df.columns[4:]
dt2 = death.columns[4:]
dt3 = recovered.columns[4:]