<a href="https://colab.research.google.com/github/abidshafee/Covid-19-Dashboard/blob/main/Covid_19_Dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
confirmed_case = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
death_case = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
recovered = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

confirmed_df = pd.read_csv(confirmed_case)
death = pd.read_csv(death_case) #error_bad_lines=False
recovered = pd.read_csv(recovered)

In [ ]:
confirmed_df.head()

  Province/State Country/Region       Lat  ...  6/7/21  6/8/21  6/9/21
0            NaN    Afghanistan  33.93911  ...   80841   82326   84050
1            NaN        Albania  41.15330  ...  132384  132397  132415
2            NaN        Algeria  28.03390  ...  131283  131647  132034
3            NaN        Andorra  42.50630  ...   13777   13781   13791
4            NaN         Angola -11.20270  ...   35854   36004   36115

[5 rows x 509 columns]

In [ ]:
death.head()

  Province/State Country/Region       Lat  ...  5/27/21  5/28/21  5/29/21
0            NaN    Afghanistan  33.93911  ...     2869     2881     2899
1            NaN        Albania  41.15330  ...     2447     2448     2449
2            NaN        Algeria  28.03390  ...     3448     3455     3460
3            NaN        Andorra  42.50630  ...      127      127      127
4            NaN         Angola -11.20270  ...      745      749      757

[5 rows x 498 columns]

In [ ]:
recovered.head()

  Province/State Country/Region       Lat  ...  5/27/21  5/28/21  5/29/21
0            NaN    Afghanistan  33.93911  ...    56962    57119    57281
1            NaN        Albania  41.15330  ...   129042   129097   129215
2            NaN        Algeria  28.03390  ...    89040    89232    89419
3            NaN        Andorra  42.50630  ...    13405    13416    13416
4            NaN         Angola -11.20270  ...    27529    27577    27646

[5 rows x 498 columns]