<a href="https://colab.research.google.com/github/abidshafee/Covid-19-Dashboard/blob/main/Covid_19_Dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install dash
!pip install -U dash-bootstrap-components

In [12]:
import pandas as pd
import plotly.express as px
import plotly.io as pio
import dash

In [13]:
from dash.dependencies import Input, Output
import dash_core_components as dcc
import dash_html_components as html
import dash_bootstrap_components as dbc

In [17]:
confirmed_case = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
death_case = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
recovered = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

df_confirmed = pd.read_csv(confirmed_case)
df_death = pd.read_csv(death_case) #error_bad_lines=False
df_recovered = pd.read_csv(recovered)

In [18]:
df_confirmed.head(2)

  Province/State Country/Region       Lat  ...  1/13/22  1/14/22  1/15/22
0            NaN    Afghanistan  33.93911  ...   158602   158639   158678
1            NaN        Albania  41.15330  ...   226598   228777   230940

[2 rows x 729 columns]

In [19]:
df_death.head(2)

  Province/State Country/Region       Lat  ...  1/13/22  1/14/22  1/15/22
0            NaN    Afghanistan  33.93911  ...     7376     7376     7378
1            NaN        Albania  41.15330  ...     3255     3262     3265

[2 rows x 729 columns]

In [20]:
df_recovered.head()

  Province/State Country/Region       Lat  ...  1/13/22  1/14/22  1/15/22
0            NaN    Afghanistan  33.93911  ...        0        0        0
1            NaN        Albania  41.15330  ...        0        0        0
2            NaN        Algeria  28.03390  ...        0        0        0
3            NaN        Andorra  42.50630  ...        0        0        0
4            NaN         Angola -11.20270  ...        0        0        0

[5 rows x 729 columns]

In [22]:
# get data in ceaned time series formate for country
def prcs_data(data, country="Bangladesh", win=3):
    confirmed = data
    confirmed_country = confirmed[confirmed['Country/Region']==country]
    final_data = confirmed_country.T[4:].sum(axis='columns').diff().rolling(window=win).mean()[40:]
    df = pd.DataFrame(final_data, columns=['Total'])
    return df

In [25]:
prcs_data(df_recovered)

         Total
3/2/20     0.0
3/3/20     0.0
3/4/20     0.0
3/5/20     0.0
3/6/20     0.0
...        ...
1/11/22    0.0
1/12/22    0.0
1/13/22    0.0
1/14/22    0.0
1/15/22    0.0

[685 rows x 1 columns]