<a href="https://colab.research.google.com/github/abidshafee/Covid-19-Dashboard/blob/main/Covid_19_Dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install dash
!pip install -U dash-bootstrap-components

In [95]:
import pandas as pd
pd.set_option('max_rows',20)
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "browser"
import dash

In [96]:
from dash.dependencies import Input, Output
import dash_core_components as dcc
import dash_html_components as html
import dash_bootstrap_components as dbc

In [97]:
confirmed_case = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
death_case = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
recovered = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

df_confirmed = pd.read_csv(confirmed_case)
df_death = pd.read_csv(death_case) #error_bad_lines=False
df_recovered = pd.read_csv(recovered)

In [98]:
df_confirmed.head(3)

  Province/State Country/Region       Lat  ...  1/13/22  1/14/22  1/15/22
0            NaN    Afghanistan  33.93911  ...   158602   158639   158678
1            NaN        Albania  41.15330  ...   226598   228777   230940
2            NaN        Algeria  28.03390  ...   224383   224979   225484

[3 rows x 729 columns]

In [88]:
df_death.head(3)

  Province/State Country/Region       Lat  ...  1/13/22  1/14/22  1/15/22
0            NaN    Afghanistan  33.93911  ...     7376     7376     7378
1            NaN        Albania  41.15330  ...     3255     3262     3265
2            NaN        Algeria  28.03390  ...     6383     6393     6404

[3 rows x 729 columns]

In [102]:
df_recovered.head(10)

                 Province/State       Country/Region  ...  1/14/22  1/15/22
0                           NaN          Afghanistan  ...        0        0
1                           NaN              Albania  ...        0        0
2                           NaN              Algeria  ...        0        0
3                           NaN              Andorra  ...        0        0
4                           NaN               Angola  ...        0        0
5                           NaN  Antigua and Barbuda  ...        0        0
6                           NaN            Argentina  ...        0        0
7                           NaN              Armenia  ...        0        0
8  Australian Capital Territory            Australia  ...        0        0
9               New South Wales            Australia  ...        0        0

[10 rows x 729 columns]

In [99]:
# get data in ceaned time series formate for country
def prcs_data(data, country="Bangladesh", win=3):
    confirmed = data
    confirmed_country = confirmed[confirmed['Country/Region']==country]
    final_data = confirmed_country.T[4:].sum(axis='columns').diff().rolling(window=win).mean()[30:]
    df = pd.DataFrame(final_data, columns=['Total'])
    return df

In [ ]:
prcs_data(df_confirmed)

In [100]:
# get overall worldwide total for confirmed, recovered and death cases
def get_overall(df):
    return df.iloc[:,-1].sum()

overall_confirmed = get_overall(df_confirmed)
overall_death = get_overall(df_death)
overall_recovered = get_overall(df_recovered)

print("Overall Confirmed:", overall_confirmed)
print("Overall Death:", overall_death)
print("Overall Recovered:", overall_recovered)

Overall Confirmed: 326152828
Overall Death: 5535426
Overall Recovered: 0

In [ ]:
df_recovered.sum(axis=1, skipna=True)

In [101]:
def country_total(df, country="Bangladesh"):
    return df[df['Country/Region']==country].iloc[:,-1].sum()

country = 'Bangladesh'
confirmed_country_total = country_total(df_confirmed, country)
dead_country_total = country_total(df_death,country)
recovered_country_total = country_total(df_recovered,country)
print(f'{country} Confirmed:', confirmed_country_total)
print(f'{country} Dead:', dead_country_total)
print(f'{country} Recovered:', recovered_country_total)

Bangladesh Confirmed: 1612489
Bangladesh Dead: 28136
Bangladesh Recovered: 0